/*
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of this source code package.
 */
 
.menu-container {
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
  display: block;
}

#menu {
  height: auto;
  display: block;
  float: right;
  width: clamp(50px, 5.5vw, 70px) !important;
}