<form (ngSubmit)="onStartGame(f)" #f="ngForm">
  <p> Questions about: </p>
  <div>
    <input type="checkbox" id="type_tracks" name="type_tracks"
        [ngModel]="useTypeTracks" name="type_tracks" (change)="onTypeSelected(f)">
    <label for="type_tracks">Tracks</label>

    <input type="checkbox" id="type_artists" name="type_artists"
        [ngModel]="useTypeArtists" name="type_artists" (change)="onTypeSelected(f)">
    <label for="type_artists">Artists</label>
  </div>

  <p> Period: </p>
  <div>
    <input type="checkbox" id="period_short-term" name="period_short_term"
        [ngModel]="useShortTermPeriod" name="period_short_term" (change)="onPeriodSelected(f)">
    <label for="period_short_term">Last 4 weeks</label>

    <input type="checkbox" id="period_medium_term" name="period_medium_term"
        [ngModel]="useMediumTermPeriod" name="period_medium_term" (change)="onPeriodSelected(f)">
    <label for="period_medium_term">Last 6 months</label>

    <input type="checkbox" id="period_long_term" name="period_long_term"
        [ngModel]="useLongTermPeriod" name="period_long_term" (change)="onPeriodSelected(f)">
    <label for="period_long_term">All time</label>

  </div>
  <hr>
  <div>
    <button type="submit">Start</button>
  </div>
</form>