<!--
  This file is subject to the terms and conditions defined in
  file 'LICENSE.txt', which is part of this source code package.
-->

<div class="page-view-column page-view-column-top">
  <div class="title title-small">
    <p class="title-item">My</p>
    <p class="title-item">Topify</p>
  </div>
  <div id="blackboard" class="blackboard-game-config">
    <div id="blackboard-content" class="blackboard-content-text-only">
      <app-menu-button></app-menu-button>
      <form id="game-config-form" (ngSubmit)="onStartGame(f)" #f="ngForm">
        <p class="game-config-option"> Questions about: </p>
        <div>
          <label for="type_tracks" class="container no-select">Tracks
            <input type="checkbox" id="type_tracks" name="type_tracks"
              [ngModel]="useTypeTracks" name="type_tracks" (change)="onTypeSelected(f)">
            <span class="checkmark"></span>
          </label>
        </div>
        <div>
          
          <label for="type_artists" class="container no-select">Artists
            <input type="checkbox" id="type_artists" name="type_artists"
              [ngModel]="useTypeArtists" name="type_artists" (change)="onTypeSelected(f)">
            <span class="checkmark"></span>
          </label>
        </div>

        <p class="game-config-option"> Period: </p>
        <div>
          <label for="period_short_term" class="container no-select">Last 4 weeks
            <input type="checkbox" id="period_short_term" name="period_short_term"
              [ngModel]="useShortTermPeriod" name="period_short_term" (change)="onPeriodSelected(f)">
            <span class="checkmark"></span>
          </label>
        </div>
        <div>

          <label for="period_medium_term" class="container no-select">Last 6 months
            <input type="checkbox" id="period_medium_term" name="period_medium_term"
              [ngModel]="useMediumTermPeriod" name="period_medium_term" (change)="onPeriodSelected(f)">
            <span class="checkmark"></span>
          </label>
        </div>
        <div>
          <label for="period_long_term" class="container no-select">All time
            <input type="checkbox" id="period_long_term" name="period_long_term"
              [ngModel]="useLongTermPeriod" name="period_long_term" (change)="onPeriodSelected(f)">
            <span class="checkmark"></span>
          </label>
        </div>
      </form>
    </div>
  </div>
  <div class="page-view-column-item-fill">
    <button type="submit" class="btn no-select" form="game-config-form">Start</button>
  </div>
</div>
