/*
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of this source code package.
 */
 
 @import url('https://fonts.googleapis.com/css2?family=Lato&family=Roboto&display=swap');
 
 .page-view-column {
  position:fixed;
  width:100%;
  height:100%;
  top:0px;
  left:0px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page-view-column-top {
  justify-content: start;
}

.page-view-column-item-fill {
  margin: auto;
}

.title {
  margin-top: min(10vh, 80px);
  margin-bottom: min(5vh, 40px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  color: var(--color-sky-magenta);
  font-size: max(60px, min(17vw, 17vh, 300px));
  font-family: 'Roboto', sans-serif;
  font-weight: bold;
  text-transform: uppercase;
}

.title-first {
  color: var(--color-sky-magenta);
}

.title-second {
  color: var(--color-moonstone);
}

.title-item {
  margin: 0;
  text-align: center;
}


#blackboard {
  font-size: min(5vw, 40px);
  color: #E8E8E8;
  font-family: WalterTurncoat;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1100px;
  height: min(7.2em, 240px);
  min-height: min(7.2em, 240px);
  background-color: transparent;
  border: 5px var(--color-hunyadi-yellow);
  border-style: dashed solid;
  margin-top: min(1vw, 20px);
  margin-bottom: min(1vw, 20px);
}


.blackboard-text-only {
  font-size: min(5vw, 30px) !important;
  height: min(10em, 320px) !important;
  min-height: min(10em, 320px) !important;
}

.blackboard-game-config {
  font-size: min(5vw, 30px) !important;
  height: min(14.25em, 460px) !important;
  min-height: min(14.25em, 460px) !important;
}

#blackboard-content {
  width:95%;
  height:85%;
}

.blackboard-content-text-only {
  position: relative;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
}

.spotify-auth {
  display: flex;
  background-color: var(--spotify-green);
  border-radius: 30px;
  cursor: pointer;
  margin: auto;
}

.spotify-auth:active {
  background-color: var(--spotify-green-active)
}

#spotify-icon {
  width: 30px;
  height: 30px;
  margin: 15px;
}

.spotify-text {
  color: var(--spotify-white);
  font-family: WalterTurncoat;
  font-size: 18px;
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
}

.btn {
  background-color: var(--spotify-green);
  border-radius: 30px;
  cursor: pointer;
  margin: auto;
  color: var(--spotify-white);
  font-family: WalterTurncoat;
  font-size: 18px;
  padding: 15px 40px;
  border: 0;
  box-shadow: none;
}

.btn:active {
  background-color: var(--spotify-green-active);
}

.btn:focus {
  outline:0;
}

.btn-small {
  font-size: 18px !important;
  padding: 10px 30px !important;
}

.btn:disabled {
  background-color: grey;
  cursor: not-allowed;
}

.game-config-option {
  margin-top: 1em;
  margin-bottom: 5px;
  color: var(--blackboard-emphasis);
}

.track-text {
  margin: 0;
  color: var(--color-moonstone);
  font-size: min(4.5vw, 40px);
  font-family: 'Lato', sans-serif;
  text-transform: uppercase;
}

.track-text-small {
  font-size: min(5vw, 30px) !important;
  margin-top: 10px;
}

.artist-text {
  margin: 0;
  color: var(--color-hunyadi-yellow);
  font-size: min(7vw, 50px);
  font-family: 'Roboto', sans-serif;
  text-transform: uppercase;
}

.artist-text-small {
  font-size: min(4.5vw, 40px);
}

.filler-text {
  margin: 0;
  font-size: min(6vw, 40px);
  text-transform: lowercase;
  color: var(--color-sky-magenta);
  font-family: TextMeOne;
}

.ripple {
  background-color: #fff;
  -webkit-animation: ripple 2s linear infinite;
          animation: ripple 2s linear infinite;
  /* hack to enable hardware acceleration */
  transform: translateZ(0); 
  -webkit-transform: translateZ(0);
}
@-webkit-keyframes ripple {
  0% {
    box-shadow: 
      0 0 0 .7rem rgba(255,255,255, 0.2),
      0 0 0 1.5rem rgba(255,255,255, 0.2),
      0 0 0 5rem rgba(255,255,255, 0.2);
  }
  100% {
    box-shadow: 
      0 0 0 1.5rem rgba(255,255,255, 0.2),
      0 0 0 4rem rgba(255,255,255, 0.2),
      0 0 0 8rem rgba(255,255,255, 0);
  }
}
@keyframes ripple {
  0% {
    box-shadow: 
      0 0 0 .7rem rgba(255,255,255, 0.2),
      0 0 0 1.5rem rgba(255,255,255, 0.2),
      0 0 0 5rem rgba(255,255,255, 0.2);
  }
  100% {
    box-shadow: 
      0 0 0 1.5rem rgba(255,255,255, 0.2),
      0 0 0 4rem rgba(255,255,255, 0.2),
      0 0 0 8rem rgba(255,255,255, 0);
  }
}

.glowing-border {
  margin: auto;
  text-align: center;
  width: 95%;
  max-width: 800px;
  padding: 14px;
  border: 2px solid #fff;
  border-radius: 12px;  
}

.glowing-border-left {
  box-shadow:
  0 0 1.5px #fff,
  inset 0 0 1.5px #fff,
  0 0 6px var(--neon-color-left),
  inset 0 0 6px var(--neon-color-left),
  0 0 12px var(--neon-color-left),
  inset 0 0 12px var(--neon-color-left);    
}

.glowing-border-right  {
  box-shadow:
  0 0 1.5px #fff,
  inset 0 0 1.5px #fff,
  0 0 6px var(--neon-color-right),
  inset 0 0 6px var(--neon-color-right),
  0 0 12px var(--neon-color-right),
  inset 0 0 12px var(--neon-color-right);     
}

.overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: radial-gradient(
    ellipse 50% 100%,
   rgba(0,0,0,1.0) 50%,
   rgba(0,0,0,0.97)
  );
  z-index: 2;
  cursor: pointer;
}

.overlay.on {
  display: block;
}

.overlay.off {
  display: none;
}

.no-interaction {
  cursor: default !important;
}

.no-select {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.menu-content {
  flex: 1;
}
