/*
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of this source code package.
 */

@font-face {
  font-family: Monoton;
  src: url('assets/fonts/Monoton/Monoton-Regular.ttf')
}

@font-face {
  font-family: WalterTurncoat;
  src: url('assets/fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf');
}

@font-face {
  font-family: Dosis;
  src: url('assets/fonts/Dosis/static/Dosis-SemiBold.ttf');
}

@font-face {
  font-family: BadScript;
  src: url('assets/fonts/Bad_Script/BadScript-Regular.ttf');
}

@font-face {
  font-family: Yellowtail;
  src: url('assets/fonts/Yellowtail/Yellowtail-Regular.ttf');
}

@font-face {
  font-family: Vibur;
  src: url('assets/fonts/Vibur/Vibur-Regular.ttf');
}

@font-face {
  font-family: TextMeOne;
  src: url('assets/fonts/TextMeOne/TextMeOne-Regular.ttf');
}

@font-face {
  font-family: Budmo;
  src: url('assets/fonts/budmo/tt/budmo jiggler.ttf');
}


:root {  
  /* Set neon color */
  --neon-color-left: #04d9ff;
  --neon-color-right: #bc13fe;
  --neon-color-wrong: #ff073a;
  --neon-color-correct: #39ff14;
  
  --ripple-color: white;

  --selecting-color: #1DB954;

  --spotify-green: #1DB954;
  --spotify-green-active: rgb(26, 163, 74);
  --spotify-white: #FFFFFF;

  --image-border-size: min(1vw, 5px);

  /* blackboard colors */
  --blackboard-emphasis: #ECCF8D;
  --blackboard-emphasis-secondary: #fea7d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  background-image: url('assets/images/background.jpg');
  background-position: center center;
  background-repeat: no-repeat;

  /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
  background-attachment: fixed;

  /* This is what makes the background image rescale based
    on the container's size */
    background-size: cover;
}

/*
@media only screen and (max-width: 767px) {
  body {
    background-image: url('assets/images/background_mobile.jpg');
  }
}
*/
