/*
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of this source code package.
 */
@font-face {
  font-family: WalterTurncoat;
  src: url('assets/fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf');
  font-display: swap;
}

@font-face {
  font-family: TextMeOne;
  src: url('assets/fonts/TextMeOne/TextMeOne-Regular.ttf');
  font-display: swap;
}


:root {
  /* theme */
  --color-sky-magenta: #B37BA4;
  --color-hunyadi-yellow: #F4AC45;
  --color-moonstone: #559CAD;
  --color-night: #121619;

  /* neon borders */
  --neon-color-left: var(--color-sky-magenta);
  --neon-color-right: var(--color-moonstone);
  --neon-color-wrong: #ff073a;
  --neon-color-correct: #39ff14;
  
  --ripple-color: white;

  --selecting-color: #1DB954;

  --spotify-green: #1DB954;
  --spotify-green-active: rgb(26, 163, 74);
  --spotify-white: #FFFFFF;

  --image-border-size: min(1vw, 5px);

  /* blackboard colors */
  --blackboard-emphasis: #ECCF8D;
  --blackboard-emphasis-secondary: #fea7d2;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--color-night);
}
