/*
 * This file is subject to the terms and conditions defined in
 * file 'LICENSE.txt', which is part of this source code package.
 */

.menu-page {
  width:100%;
  height:100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.menu-item {
  cursor: pointer;
}

.menu-item-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; 
}

.menu-item-img {
  width: clamp(100px, 10vw, 150px);
  /*height: clamp(100px, 10vw, 150px);*/
  margin-left: clamp(50px, 5vw, 75px);
  margin-right: clamp(50px, 5vw, 75px);
}

.track-text-menu {
  margin-top: 15px;
  font-size: min(5vw, 25px) !important;
  text-transform: none !important;
  white-space: nowrap;
}

.track-text-menu small {
  font-size: 0.6em;
}

.menu-item-fixed {
  margin-bottom: 20px;
}