<!--
  This file is subject to the terms and conditions defined in
  file 'LICENSE.txt', which is part of this source code package.
-->

<div class="menu-page">
  <div class="menu-item">
    <div class="glowing-border glowing-border-left" (click)="onProceedToGame()">
      <div class="menu-item-content">
        <img class="menu-item-img" src="/assets/images/game.png">
        <p class="track-text track-text-menu">Game View</p>
      </div>
    </div>
  </div>
  <div class="menu-item">
    <div class="glowing-border glowing-border-right" (click)="onProceedToChart()">
      <div class="menu-item-content">
        <img class="menu-item-img" src="/assets/images/charts.png">
        <p class="track-text track-text-menu">Chart View</p>
      </div>
    </div>
  </div>
  <div class="menu-item-fixed">
    <div class="spotify-auth no-select" (click)="onLogout()">
      <img id="spotify-icon" src="/assets/images/spotify.png">
      <p class="spotify-text">Logout</p>
    </div>
  </div>
</div>  
