<div class="page-view-column">
  <div class="menu-item">
    <div class="glowing-border glowing-border-left" (click)="onProceedToGame()">
      <img class="menu-item-img" src="/assets/images/game.png">
      <p class="track-text track-text-menu">Game View</p>
    </div>
  </div>
  <div class="menu-item">
    <div class="glowing-border glowing-border-right" (click)="onProceedToChart()">
      <img class="menu-item-img" src="/assets/images/charts.png">
      <p class="track-text track-text-menu">Chart View</p>
    </div>
  </div>
  <div class="menu-item">
    <div class="spotify-auth" (click)="onLogout()">
      <img id="spotify-icon" src="/assets/images/spotify.png">
      <p class="spotify-text">Logout</p>
    </div>
  </div>


</div>  
