<!--
  This file is subject to the terms and conditions defined in
  file 'LICENSE.txt', which is part of this source code package.
-->

<div class="page-view-column">
  <div [ngClass]="{'page-view-column-item-fill glowing-border': true,
                    'glowing-border-left': answered !== answerType.CorrectLeft && answered !== answerType.WrongLeft, 
                    'glowing-border-correct': answered === answerType.CorrectLeft,
                    'glowing-border-wrong': answered === answerType.WrongLeft}">
    <div class="view-wide">
      <div [ngClass]="('image-display ' + (leftAudioPlaying? 'ripple ' : '') + (selectingChoice === choiceType.Left? 'draw selecting' : 'draw'))" #leftImagePlaceholder>
        <img class="spotify-image" src="{{images[0].src}}" width="{{images[0].width}}" height="{{images[0].height}}">
      </div>
      <div class="text-display">
        <p *ngIf="leftText.track !== ''" class=" track-text">{{leftText.track}}</p>
        <p *ngIf="leftText.track !== '' && leftText.artist !== ''" class=" filler-text">by</p>
        <p *ngIf="leftText.artist !== ''" class="artist-text">{{leftText.artist}}</p>
      </div>
    </div>
  </div> 
  <div id="blackboard" class="page-view-column-item-fill">
    <div id="blackboard-content">
      <div id="cleft">
        <img *ngFor="let i of [].constructor(game.getLives())" class="life" src="/assets/images/life.png">
      </div>
      <div id="cmiddle">
        <p class="blackboard-text-small">- {{game.getQuestionNumber()}}/{{game.getNumberOfQuestions()}} -</p>
        <p class="blackboard-text-large" [innerHTML]="question.text"></p>
        <p id="score" class="blackboard-text-large"> &gt; &gt; Score: {{game.getScore()}} &lt; &lt; </p>
      </div>
      <div id="cright">
        <app-menu-button></app-menu-button>
        <img id="info" class="no-select" src="/assets/images/info.png" (click)="onInfo()">
      </div>
    </div>
  </div>
  <div [ngClass]="{'page-view-column-item-fill glowing-border': true, 
                    'glowing-border-right': answered !== answerType.CorrectRight && answered !== answerType.WrongRight, 
                    'glowing-border-correct': answered === answerType.CorrectRight,
                    'glowing-border-wrong': answered === answerType.WrongRight}">
    <div class="view-wide">
      <div [ngClass]="('image-display ' + (rightAudioPlaying? 'ripple ' : '') + (selectingChoice === choiceType.Right? 'draw selecting' : 'draw'))" #rightImagePlaceholder>
        <img class="spotify-image" src="{{images[1].src}}" width="{{images[1].width}}" height="{{images[1].height}}">
      </div>
      <div class="text-display">
        <p *ngIf="rightText.track !== ''" class="track-text">{{rightText.track}}</p>
        <p *ngIf="rightText.track !== '' && rightText.artist !== ''" class="filler-text">by</p>
        <p *ngIf="rightText.artist !== ''" class="artist-text">{{rightText.artist}}</p>
      </div>
    </div>
  </div> 
</div>
<app-game-over *ngIf="gameIsOver"></app-game-over>
